body {
    padding-top: 50px;
    padding-bottom: 20px;
}

img {
    max-width: 400px;
    align-self: center;
}

#mamon { height: 430px;}
#leftcolumn {float: left}
#rightcolumn { width: 400px; float: left; margin-left: 35px; margin-top: 50px;}

#cy {
  height: 800px;
  width: 800px;
  left: 0;
  top: 0;
  border: 1px solid black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
.text-box,
select
{
    width: 300px;
    height: 30px;
}

textarea
{
    width: 300px;
    height: 80px;
}

.comentario
{
    background-color: beige;
}

.descripcion
{
    width: 600px;
    height: 400px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}